@media (min-width: 769px) {
    .opt-filter-container {
        display:flex; 
       align-items:center;
   }
   .opt-text {
       margin-right:10px;   
   }
   .opt107 .st-results-header {
       display:block !important;
   }
   
   .opt107v2 .opt-filter-item {
       min-width: 120px;
       margin-right: 10px;
   }
  
}

.opt107 .st-results-header {
   display:none;
}	
.opt107 .course-list-content #geo_filter.toolbar {
    left:0px;
   width: 100%;
   top:0px;
}
.opt107 .course-list-content #geo_filter.toolbar .filter-btn {
   width:100%;
   margin: 0px;
}
.opt-text {
    margin-bottom:12px;   
}
.opt-text span{
    font-size: 16px;
   line-height: 20px;
   color: #41413F;
}

.opt-filter-content {
   display:flex;
   justify-content:flex-start;
   margin-bottom:15px;
}	



.opt-filter-item.opt-active:after {
    content:"x";
   position:absolute;
   right:10px;
   top:50%;
   transform:translateY(-50%);
   color: #41413F;
}

.opt-filter-item.opt-active {
   background-color:white;
   border: 2px solid #F01E50;
   color:#F01E50;
   position:relative;
   padding-right: 20px;
}	

.opt-filter-item {
    background-color: #F01E50;
   border-radius: 13px;
   color:#F01E50;
   text-align:center;
   padding:5px 10px;
   display:flex;
   align-items:center;
   justify-content:center;
   width: calc(33.3% - 10px);
}

.opt-filter-item.opt-active a{
   color:#F01E50;
}

.opt-filter-item:last-child {
    margin-right:0px;   
}

.opt-filter-item a {
   color:white;
   text-align:center;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   flex-grow:1;
}
.opt107v2 .opt-filter-container {
   justify-content:flex-end;
}
.opt107v2 .opt-filter-item.opt-active {
   background-color:white;
   border: 2px solid #40CBD3;
   color:#40CBD3;
   position:relative;
   padding-right: 0px;
}	

.opt107v2 .opt-filter-item {
    background-color: #40CBD3;
   border-radius: 13px;
   color:#40CBD3;
   text-align:center;
   padding:5px 10px;
   display:flex;
   align-items:center;
   justify-content:center;
   margin-right: 10px;
   width: calc(33.3% - 10px);
}

.opt107v2 .opt-filter-item:last-child {
   margin-right:0px;   
}

.opt107v2 .opt-filter-item.opt-active a{
   color:#40CBD3;
   z-index:1;
}