/* GLobal */
body .gform_wrapper .gform_button i.optIcon {
    margin-left: -46px;
    font-size: 26px;
    top: 16px;
}

/*VARIATION 1*/

.opt-98-1 .col-md-6.enquiry-content {
    padding: 0
}


@media (min-width: 1225px) {
    .opt-98-1 #enquiry-form.popup-enquiry h3 {
        background: #F2225A !important;
        width: calc(100% + 103px);
        text-align: center;
    }

    .opt-98-1 h3.purple-color.optRecolour:before {
        content: "";
        z-index: -2;
        position: absolute;
        bottom: -60px;
        width: 0;
        height: 0;
        border-style: solid;
        left: 0;
        border-width: 60px 40px 60px 0;
        border-color: transparent #b7183e transparent transparent;
    }

    .opt-98-1 h3.purple-color.optRecolour:after {
        content: "";
        z-index: -2;
        position: absolute;
        bottom: -80px;
        width: 0;
        height: 0;
        border-style: solid;
        right: 0;
        border-width: 60px 0 80px 60px;
        border-color: transparent transparent transparent #b7183e;
    }
}

    
/*VARIATION 2*/
.opt-98-2 .col-md-6.enquiry-content {
    padding: 0;
}

@media (max-width: 1225px) {
    .opt-98-2 #enquiry-form.popup-enquiry h3 {
        text-align: center;
        width: calc(100% + 103px);
    }

    .opt-98-2 h3.purple-color.optRecolour:before {
        content: "";
        z-index: -2;
        position: absolute;
        bottom: -60px;
        width: 0;
        height: 0;
        border-style: solid;
        left: 0;
        border-width: 60px 40px 60px 0;
        border-color: transparent #009ca5 transparent transparent;
    }

    .opt-98-2 h3.purple-color.optRecolour:after {
        content: "";
        z-index: -2;
        position: absolute;
        bottom: -80px;
        width: 0;
        height: 0;
        border-style: solid;
        right: 0;
        border-width: 60px 0 80px 60px;
        border-color: transparent transparent transparent #009ca5;
    }
}



/*VARIATION 3*/
.opt-98-3 .col-md-6.enquiry-content {
    padding: 0
}

@media (min-width: 1225px) {
    .opt-98-2 #enquiry-form.popup-enquiry h3 {
        width: calc(100% + 103px);
        text-align: center;
    }

    .opt-98-3 h3.purple-color.optRecolour:before {
        content: "";
        z-index: -2;
        position: absolute;
        bottom: -60px;
        width: 0;
        height: 0;
        border-style: solid;
        left: 0;
        border-width: 60px 40px 60px 0;
        border-color: transparent #009ca5 transparent transparent;
    }

    .opt-98-3 h3.purple-color.optRecolour:after {
        content: "";
        z-index: -2;
        position: absolute;
        bottom: -80px;
        width: 0;
        height: 0;
        border-style: solid;
        right: 0;
        border-width: 60px 0 80px 60px;
        border-color: transparent transparent transparent #009ca5;
    }
}