.OptimizelyTest .entry-content {margin:0;}
.OptimizelyTest .site-inner {padding-top:79px !important; background-color:#e3e2d9;}
.OptimizelyTest .clear {display:block; clear:both; height:0;}


/***** Forms *****/
.OptimizelyTest .col-md-6.enquiry-content {background-color:#e3e2d9; position:relative;}
.OptimizelyTest .col-md-6.enquiry-content .form-arrow {content:""; display:block; width:0; height:0; border-style:solid; border-width:20.5px 0 20.5px 16px; border-color: transparent transparent transparent #e20035; position:absolute; left:0; top:31px;}


.OptimizelyTest .enquiry-form {margin:23px 55px 0 59px; max-width:520px; padding:0 0 9px 0; background-color:transparent;}
.OptimizelyTest .enquiry-form p:first-of-type {display:none;}
.OptimizelyTest .gform_wrapper {margin-bottom:0 !important;}
.OptimizelyTest .gform_wrapper form {padding-bottom:0 !important;}
.OptimizelyTest .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .OptimizelyTest .gform_wrapper select {height:44px; border-radius:0px !important; padding-left:16px !important;}
.OptimizelyTest .gform_wrapper textarea {border-radius:0px !important;}
.OptimizelyTest .gform_wrapper ul li.gfield {margin-top:19px;}
.OptimizelyTest .gform_wrapper .course-enquiry-form .gform_body .gform_fields li.gfield .ginput_container:before {display:none;}
.OptimizelyTest .gform_wrapper .course-enquiry-form .gform_body .gform_fields li.gfield#field_1_1 label:first-child, .OptimizelyTest .gform_wrapper .course-enquiry-form .gform_body .gform_fields li.gfield#field_1_9 label:first-child, .OptimizelyTest .gform_wrapper .course-enquiry-form .gform_body .gform_fields li.gfield#field_1_19 label:first-child, .OptimizelyTest .gform_wrapper .course-enquiry-form .gform_body .gform_fields li.gfield#field_1_3 label:first-child, .OptimizelyTest .gform_wrapper .course-enquiry-form .gform_body .gform_fields li.gfield#field_1_28 label:first-child {padding-left:16px;}
.OptimizelyTest .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first, .OptimizelyTest .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last, .OptimizelyTest .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle {padding-top:0;}
.OptimizelyTest .gform_wrapper div.charleft {color:#5d5d5a;}
.OptimizelyTest .gform_wrapper input[type="submit"] {width:100% !important; display:block !important; height:66px; font-size:25px !important;}
.OptimizelyTest #field_1_17 {margin-top:9px !important;}
.OptimizelyTest #enquiry-form form.course-enquiry-form .gform_geo {margin-top:7px;}


.OptimizelyTest .enquiry-form h3.purple-color {display:block; background-color:#00b5bf; color:#ffffff; text-align:center; width:calc(100% + 60px); margin-left:-30px; position:relative; font-size:24px; line-height:30px; padding:13px 0 14px 0; -webkit-box-shadow:0px 5px 8px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow:0px 5px 8px 0px rgba(0, 0, 0, 0.1); box-shadow:0px 5px 8px 0px rgba(0, 0, 0, 0.1);}
.OptimizelyTest .enquiry-form h3.purple-color:before {content:""; display:block; width:29px; height:44px; position:absolute; left:0; bottom:-44px; background:transparent url("https://i.imgur.com/5uZX6Zg.png") no-repeat left top;}
.OptimizelyTest .enquiry-form h3.purple-color:after {content:""; display:block; width:29px; height:44px; position:absolute; right:0; bottom:-44px; background:transparent url("https://i.imgur.com/xIMOnBs.png") no-repeat left top;}




/***** Content *****/
.OptimizelyTest .enquiry-content-left {background-color:#ffffff; border-right:3px solid #e20036;}
.OptimizelyTest .enquiry-content-left .inner-content {max-width:710px; float:right; margin:31px 33px 35px 33px;}
.OptimizelyTest .enquiry-content-left .inner-content .top-content {max-width:626px; margin:0 auto;}

.OptimizelyTest .enquiry-content-left hr {display:block; height:2px; width:100%; max-width:366px; background-color:#e20036; border:none; margin:0 auto;}
.OptimizelyTest .enquiry-content-left h1 {padding:0 0 9px 0; margin:0; color:#000000; font-weight:400; font-size:38px; line-height:42px;}
.OptimizelyTest .enquiry-content-left h2 {padding:0; margin:0; color:#000000; font-weight:400; font-size:20px; line-height:26px;}
.OptimizelyTest .enquiry-content-left h3 {padding:0; margin:0; color:#e20036; font-weight:400; font-size:20px; line-height:26px;}
.OptimizelyTest .enquiry-content-left p {padding:1px 0 10px 0; margin:0; color:#747472; font-size:13px; line-height:16px;}
.OptimizelyTest .enquiry-content-left ul {color:#000000; list-style:none; font-size:16px; line-height:20px; padding:10px 0 26px 3px; margin:0;}
.OptimizelyTest .enquiry-content-left ul li {padding:0 0 3px 24px; margin:0; position:relative;}
.OptimizelyTest .enquiry-content-left ul li:before {content:"\f00c"; display:block; font-family:FontAwesome; font-size:20px; position:absolute; left:0; top:0; color:#e20036;}
.OptimizelyTest .enquiry-content-left img {max-width:100%; height:auto; display:block; margin:0;}

.OptimizelyTest .enquiry-content-left .title {text-align:center;}
.OptimizelyTest .enquiry-content-left .title hr {max-width:133px; margin-top:46px;}

.OptimizelyTest .enquiry-content-left .columns {padding:46px 0 0 0;}
.OptimizelyTest .enquiry-content-left .columns .column {float:left;}
.OptimizelyTest .enquiry-content-left .columns .column.column-left {width:48.08%; margin-right:7.66%; padding-top:6px;}
.OptimizelyTest .enquiry-content-left .columns .column.column-right {width:44.26%;}




/***** Testimonials *****/
.OptimizelyTest .enquiry-content-left .testimonials-wrapper {padding-top:83px;}
.OptimizelyTest .enquiry-content .testimonials-wrapper {display:none;}

.OptimizelyTest .testimonials-navigation {border:1px solid #e8e8e8; border-bottom:none; text-align:center; padding:5px 0 2px 0; overflow:hidden;}
.OptimizelyTest .testimonials-navigation .testimonial-avatar-wrap {display:inline-block; vertical-align:middle; position:relative; margin:0 4%;}
.OptimizelyTest .testimonials-navigation a {display:block; width:65px; height:65px; border:3px solid transparent; overflow:hidden; border-radius:100%; position:relative;}
.OptimizelyTest .testimonials-navigation a img {display:block; width:100%; height:auto; margin:0;}
.OptimizelyTest .testimonials-navigation a:hover {border-color:#38c4cd;}
.OptimizelyTest .testimonials-navigation .active a {border-color:#38c4cd; width:79px; height:79px; -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.44); -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.44); box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.44);}

.OptimizelyTest .testimonials-navigation .testimonial-avatar-wrap:before {content:""; width:165px; height:38px; background: transparent url("https://i.imgur.com/dCNRlgf.png") no-repeat left top; position:absolute; left:50%; bottom:-4px; margin-left:-83px; display:none;}
.OptimizelyTest .testimonials-navigation .testimonial-avatar-wrap.active:before {display:block;}


.OptimizelyTest .testimonials-tabs {background-color:#38c4cd; position:relative;}
.OptimizelyTest .testimonials-tabs:before {content:"\f10d"; color:#1d7d83; font-size:40px; font-family:FontAwesome; position:absolute; left:18px; top:10px;}
.OptimizelyTest .testimonials-tabs:after {content:"\f10e"; color:#1d7d83; font-size:40px; font-family:FontAwesome; position:absolute; right:13px; bottom:14px;}
.OptimizelyTest .testimonials-tabs .testimonial {display:none; position:relative; z-index:10; padding:28px 50px 27px 29px;}
.OptimizelyTest .testimonials-tabs .testimonial.active {display:block;}

.OptimizelyTest .testimonials-tabs .testimonial cite {font-size:16px; line-height:20px; color:#ffffff; font-style:normal; text-transform:uppercase; display:block; padding:0 0 6px 0; margin:0;}
.OptimizelyTest .testimonials-tabs .testimonial blockquote {font-size:14px; line-height:19px; color:#ffffff; font-weight:normal; display:block; padding:0; margin:0; border:none;}


.OptimizelyTest .enquiry-content .testimonials-wrapper .testimonials-navigation {border:none; background-color:#ffffff;}
.OptimizelyTest .enquiry-content .testimonials-wrapper .testimonials-tabs:before {font-size:20px; left:15px; top:6px;}
.OptimizelyTest .enquiry-content .testimonials-wrapper .testimonials-tabs:after {font-size:20px; right:12px; bottom:15px;}
.OptimizelyTest .enquiry-content .testimonials-wrapper .testimonials-navigation .testimonial-avatar-wrap {margin:0 6px;}
.OptimizelyTest .enquiry-content .testimonials-wrapper .testimonials-navigation .testimonial-avatar-wrap:before {width:115px; height:26px; margin-left:-58px; background-size:115px auto !important;}
.OptimizelyTest .enquiry-content .testimonials-wrapper .testimonials-navigation a {width:53px; height:53px; border:2px solid transparent;}
.OptimizelyTest .enquiry-content .testimonials-wrapper .testimonials-navigation .active a {width:63px; height:63px; border-color:#38c4cd;}
.OptimizelyTest .enquiry-content .testimonials-wrapper .testimonials-tabs .testimonial {padding:11px 15px 16px 18px;}



/***** Media Queries *****/
@media screen and (max-width: 1100px){
    .OptimizelyTest .enquiry-content-left .inner-content {margin-left:0; margin-right:0;}
    .OptimizelyTest .enquiry-content-left .columns .column.column-left {width:47.5%; margin-right:5%;}
    .OptimizelyTest .enquiry-content-left .columns .column.column-right {width:47.5%;}
    .OptimizelyTest .enquiry-content-left .testimonials-wrapper {padding-top:50px;}
    .OptimizelyTest .enquiry-form {margin:23px 45px 0 45px;}
    .OptimizelyTest .gform_wrapper ul li.gfield {margin-top:15px;}
}

@media screen and (min-width: 992px){
  .OptimizelyTest .testimonials-tabs .testimonial blockquote {
  	max-width: 540px;
  }
}

@media screen and (max-width: 992px){
    .OptimizelyTest .site-inner {padding-top:18px; background-color:#ffffff;}
    .OptimizelyTest .enquiry-content-left {border:none;}
    .OptimizelyTest .enquiry-content-left .inner-content {float:none; max-width:none; margin:0 15px 0 15px; padding:58px 0 22px 0;}
    .OptimizelyTest .col-md-6.enquiry-content .form-arrow {display:none;}
    .OptimizelyTest .col-md-6.enquiry-content {margin:0 31px 0 31px; float:none; max-width:none;}
    .OptimizelyTest .enquiry-form {max-width:none; margin:0; padding:0 7px;}
    .OptimizelyTest .enquiry-form h3.purple-color {width:calc(100% + 74px); margin-left:-37px;}
}


@media screen and (max-width: 767px){
    .OptimizelyTest .site-inner {padding-top:49px !important;}
    .OptimizelyTest .enquiry-content-left {min-height:1px !important;}
    .OptimizelyTest .enquiry-content-left .inner-content {padding:13px 0 0 0; margin:0;}
    .OptimizelyTest .enquiry-content-left h1 {font-size:24px; line-height:30px; padding-bottom:7px;}
    .OptimizelyTest .enquiry-content-left h2 {font-size:14px; line-height:17px; max-width:240px; margin:0 auto;}
    .OptimizelyTest .enquiry-content-left h3 {font-size:16px; line-height:20px;}
    .OptimizelyTest .enquiry-content-left p {padding:0; font-size:12px; line-height:13px;}
    .OptimizelyTest .enquiry-content-left ul {font-size:14px; line-height:17px; padding:9px 0 10px 0;}
    .OptimizelyTest .enquiry-content-left ul li {padding:0 0 0 18px;}
    .OptimizelyTest .enquiry-content-left ul li:before {font-size:14px;}
    .OptimizelyTest .enquiry-content-left hr {display:none;}
    .OptimizelyTest .enquiry-content-left .title hr {display:block; margin-top:16px;}
    
    .OptimizelyTest .enquiry-content-left .columns {padding-top:18px;}
    .OptimizelyTest .enquiry-content-left .columns .column.column-left {display:none;}
    .OptimizelyTest .enquiry-content-left .columns .column.column-right {width:auto; float:none;}
    
    .OptimizelyTest .col-md-6.enquiry-content {margin:8px 0 0 0;}
    .OptimizelyTest .enquiry-form {padding:0; margin:0;}
    .OptimizelyTest .enquiry-form h3.purple-color {width:auto; margin-left:0; font-size:18px; line-height:21px; padding:0; text-align:left; padding:3px 50px 2px 15px;}
    .OptimizelyTest .enquiry-form h3.purple-color:before {display:none;}
    .OptimizelyTest .enquiry-form h3.purple-color:after {display:none;}
    .OptimizelyTest .gform_wrapper {padding:0 15px;}
    .OptimizelyTest .gform_wrapper ul li.gfield {margin-top:21px;}
    .OptimizelyTest .gform_wrapper input[type="submit"] {height:64px; font-size:22px !important;}
    .OptimizelyTest .course-enquiry .terms {padding:0 15px 15px 15px;}
    
    .OptimizelyTest .enquiry-content-left .testimonials-wrapper {display:none;}
    .OptimizelyTest .enquiry-content .testimonials-wrapper {display:block;}
}