.opt5 #cd-top-nav {
 	margin-right: 0;
    right: 270px;
    left: initial;
}

.optFixedPos {
    position: fixed;
    width: calc(100% - 1300px);
    left: calc(0% + 454px);
}

.optShowing {
    display: flex !important;
}

.optHeaderCont {
    
    position: fixed;
    z-index: 4;
    display: flex; 
    justify-content: space-around;
    color: #FFFFFF;
    font-family: "Varela Round";
    font-size: 20px;
}

.optHeaderCont div {
	position: relative;
    cursor: pointer;
    height: 79px;
    display: flex;
    align-items: center;
    padding-top: 12px;
}

.optHeaderCont div:hover, .optAfter {
    color: #FFDF19;
}

.optHeaderCont div:hover:after, div.optAfter:after {
	content: "";
    left: calc(50% - 10px);
    position: absolute;
    width: 20px;
    bottom: -10px;
    height: 20px;
    background-color: #F5F5F5;
    transform: rotate(45deg);   
}

.optHeaderMenu {
    margin-top: 79px;
	background: #F5F5F5;
    min-width: 991px;
    display: flex;
    justify-content: center;
}

.optDropDownCont {
    width: 100%;   
    display: none;
    padding: 25px 0 0 44px;
}

.optDropDownCont .optCol {
 	width: 12%;   
}

.optHeaderMenu:hover {
 	display: block !important;   
}

.optDropDownCont:hover {
 	display: flex !important;   
}

.optDropDownCont > div {
   max-width: 199px;
   margin-right: 49px;
   min-width: 170px;
}

.optDropDownCont > div div {
	margin-bottom: 33px;
}
.optRedTitle {
	color: #E6003E !important;
    font-weight: bold;
    font-family: "Varela Round";   
}

.optRedTitle:hover {
 	background: none !important;   
}

.optDropDownCont a {
	color: black;
    font-size: 14px;
}

.optDropDownCont a:hover {
   text-decoration: underline;
}

.optCol div a {
 	display: block;   
}

.optDropDownCont#findacoursedrop div {
 	margin-bottom: 33px;   
}

.optSelected {
    background: #00BAC4;
}

.optMobile > ul > li {
    position: relative;
    cursor: pointer;
}

.optMobile > ul > li.optSelected:after {
 	transform: rotate(180deg)scaleX(2);   
}

.optMobile > ul > li:after {
 	content: "v";
    position: absolute;
    right: 15px;
    top: 6px;
    color: white;
    font-weight: 500;
    transform: scaleX(2);
    font-size: 12px;
}

.optMobile ul {
 	padding: 0;
}

.optMobile li a{
 	cursor: pointer;   
}

.optSub {
 	display: none;
}

.optSub.optRev {
    display: block;
}

.optDropDownCont#courseproviderdrop a {
 	min-height: 50px;
    display: flex;
    align-items: center;
}

#cd-lateral-nav .optSub a {
 	font-size: 13px;   
}

.optMobile {
 	display: none;   
}

.optCol img {
    max-height: 85px;
    max-width: 101px;
    margin-top: 10px;
}

@media (max-width: 2645px) {
    .optHeaderMenu {
        width: auto !important;
        left: 50% !important;
        transform: translateX(-50%);
    }
}

@media (max-width: 1980px) {
    .optFixedPos {
    	width: calc(100% - 1100px);
   	 	left: calc(0% + 354px);
    }
 	   
}

@media (max-width: 1610px) {
    .optFixedPos {
    	width: calc(100% - 1000px);
   	 	left: calc(0% + 304px);
    }
 	   
}

@media (max-width: 1480px) {
    .optHeaderMenu {
     	width: 100% !important;    
    }
    .optDropDownCont > div {
        min-width: initial;
    }
    .opt5 #cd-top-nav {
     	left: 50%;   
    }
    .optFixedPos {
    	width: calc(100%);
   	 	left: calc(0%);
    }
 	
    .optHeaderCont {
     	margin-top: 79px;   
        background: #00BAC4;
    }
    
    .optHeaderCont div {
     	height: initial;   
    }
    
    .optHeaderMenu {
    	margin-top: calc(79px + 38px);
        
    }
    
    .optHeaderCont div:hover:after {
     	bottom: -10px;
    }
}

@media (max-width: 991px) {
 	.optHeaderCont {
     	display: none;   
    }
 	.optMobile {
    	display: block;
    }
}
