.opt106a #st-results-container .enquire-button {
    display: inline-block;
    font-size: 15px;
    width: 100%;
    height: 32px;
    line-height: 30px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    background-color: #ff0049;
    /* border:1px solid #d3003c; */
    border-radius: 25px;
    font-family: "Varela Round", sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
    outline: none !important;
    float: none;
    margin-top: 10px;
}
.opt106a #st-results-container .enquire-button:after {
    display: none;
}
.opt106a #st-results-container .imgHolder {
    height: 52px;
}
.opt106a #st-results-container h4 {
    min-height: 35px;
}
.opt106a .pillbox label.pill .details {
    margin: 2px 0 30px;
}
.opt106a #st-results-container button.detail-button {
    bottom: -50px
}
.opt106a #st-results-container > a {
    padding: 15px 15px 15px 15px;
}
.opt106a #st-results-container .enquire-button {
    width: 50%;
    max-width: 200px;
    margin-top: 40px;
}
@media (max-width: 1169px) {
    .opt106a #st-results-container button.detail-button {
        bottom: 0px;
    }
    .opt106a #st-results-container .enquire-button {
        margin-top: initial;
    }
}
@media (max-width: 767px) {
    .opt106a #st-results-container button.detail-button {
        bottom: 70px;
    }
    .opt106a #st-results-container .enquire-button {
        width: 100%;
        max-width: initial;
        margin-top: initial;
    }
}