.opt106a #st-results-container .enquire-button {
    display: inline-block;
    font-size:15px;
    width:94px;
    height:32px;
    line-height:30px;
    text-decoration:none;
    color:#ffffff;
    text-align:center;
    background-color:#ff0049;
    /* border:1px solid #d3003c; */
    border-radius:25px;
    font-family:"Varela Round",sans-serif;
    padding:0;
    margin:0;
    position: relative;
    outline:none !important;
    float: right;
  }

  .opt106a #st-results-container .enquire-button.optDesktop {
    bottom: 5px;
  }
  .opt106a #st-results-container .enquire-button:after {
    display:none;
  }
  
  .opt106a #st-results-container .imgHolder {
        height: 60px;
  }
  
  .opt106a #st-results-container h4 {
      min-height: 35px;
  }
  
  .opt106a .pillbox label.pill .details {
      margin: 2px 0 30px;
  }
  
  .opt106a #st-results-container button.detail-button {
    bottom: 5px;
  }

  .opt106a #st-results-container .enquire-button.optMobile {
      display: none;
  }

  @media (max-width: 767px) {
    .opt106a #st-results-container .enquire-button.optMobile {
        display: block;
    }

    .opt106a #st-results-container .enquire-button.optDesktop {
        display: none;
    }
  }