.OptimizelyTest .popup-enquiry .enquiry-form {border-bottom:8px solid #00bbc5;}
.OptimizelyTest .popup-enquiry .gform_wrapper form {padding-bottom:0;}
.OptimizelyTest .popup-enquiry .enquiry-form .gform_fields .first-inputs {display:block;}
.OptimizelyTest .popup-enquiry .enquiry-form .gform_fields .last-inputs {display:none;}
.OptimizelyTest .popup-enquiry .enquiry-form .terms {display:none;}
.OptimizelyTest .popup-enquiry .gform_wrapper .course-enquiry-form .gform_button {display:none;}
.OptimizelyTest .popup-enquiry .gform_wrapper .course-enquiry-form .gform_button.next_button {display:block; margin-top:40px; line-height:62px; text-align:center;}

.OptimizelyTest .course-detail-new .popup-enquiry h3 {color:#ffffff; font-size:28px; line-height:37px; background-color:#00bbc5; box-shadow: 4px 2px 8px 0 rgba(0,0,0,0.1); -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; width:calc(100% + 100px); margin-left:-50px; position:relative; padding:15px 50px 10px 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom:20px;}
.OptimizelyTest .course-detail-new .popup-enquiry h3:after {content:""; width: 0; height: 0; border-style: solid; border-width: 40px 20px 0 0; border-color: #008087 transparent transparent transparent; position:absolute; right:0; bottom:-40px;}
.OptimizelyTest .course-detail-new .popup-enquiry h3:before {content:""; width: 0; height: 0; border-style: solid; border-width: 0 20px 40px 0; border-color: transparent #008087 transparent transparent; position:absolute; left:0; bottom:-40px;}    


.OptimizelyTest #popup-section.container .enquiry-form .gform_fields .first-inputs {display:block !important;}
.OptimizelyTest #popup-section.container .enquiry-form .gform_fields .last-inputs {display:block !important;}
.OptimizelyTest #popup-section.container .gform_wrapper .course-enquiry-form .gform_button {display:block !important;}
.OptimizelyTest #popup-section.container .gform_wrapper .course-enquiry-form .gform_button.next_button {display:none !important;}
.OptimizelyTest #popup-section.container .enquiry-form .terms {display:block !important;}
.OptimizelyTest #popup-section.container .enquiry-testimonials {display:none !important;}

/***** Media Queries *****/
@media only screen and (max-width: 1260px){
    .OptimizelyTest #popup-container.container {width:96%;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item:after {height:calc(100% - 10px); bottom:-4px;}
}


@media only screen and (max-width: 960px){
    .OptimizelyTest .popup-enquiry .enquiry-testimonials {display:none;}
    .OptimizelyTest .popup-enquiry .enquiry-form {float:none; width:auto;}
}


@media only screen and (max-width: 769px){
    .OptimizelyTest .course-detail-new .popup-enquiry {padding-left:15px; padding-right:15px;}
    .OptimizelyTest .course-detail-new .popup-enquiry h3 {font-size:22px; line-height:26px; width:calc(100% + 70px); margin-left:-35px; padding:15px 35px 10px 35px; margin-bottom:12px;}
    .OptimizelyTest .course-detail-new .popup-enquiry h3:after {border-width: 30px 15px 0 0; bottom:-30px;}
    .OptimizelyTest .course-detail-new .popup-enquiry h3:before {border-width: 0 15px 30px 0; bottom:-30px;}
    .OptimizelyTest .enquiry-form {border-bottom:5px solid #00bbc5;}    
}


@media only screen and (max-width: 500px){
    .OptimizelyTest .course-detail-new .popup-enquiry h3 {font-size:18px; line-height:24px; padding-top:8px; padding-bottom:5px;}    
}