
    /***** Popup Variation 2 *****/
    .OptimizelyTest .popup-enquiry .enquiry-form {border-bottom:8px solid #00bbc5; float:right; width:50%;}
    .OptimizelyTest #popup-container.container {width:1230px;}
    
    .OptimizelyTest .course-detail-new .popup-enquiry h3 {color:#ffffff; font-size:28px; line-height:37px; background-color:#00bbc5; box-shadow: 4px 2px 8px 0 rgba(0,0,0,0.1); -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; width:calc(100% + 100px); margin-left:-50px; position:relative; padding:15px 50px 10px 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom:20px;}
    .OptimizelyTest .course-detail-new .popup-enquiry h3:after {content:""; width: 0; height: 0; border-style: solid; border-width: 40px 20px 0 0; border-color: #008087 transparent transparent transparent; position:absolute; right:0; bottom:-40px;}
    .OptimizelyTest .course-detail-new .popup-enquiry h3:before {content:""; width: 0; height: 0; border-style: solid; border-width: 0 20px 40px 0; border-color: transparent #008087 transparent transparent; position:absolute; left:0; bottom:-40px;}    
    
    
    .OptimizelyTest .popup-enquiry .enquiry-testimonials {float:left; max-width:600px; width:50%; position:relative; margin-top:180px;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials:after {content:""; display:block; height:100%; width:12px; background-color:#54b9c3; position:absolute; right:0; top:0; z-index:10;-webkit-box-shadow: -10px 0px 12px 0px rgba(50, 50, 50, 0.35); -moz-box-shadow: -10px 0px 12px 0px rgba(50, 50, 50, 0.35); box-shadow: -10px 0px 12px 0px rgba(50, 50, 50, 0.35);}
    
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-header {background: #00bac4 url("https://i.imgur.com/A2xDTKg.png") no-repeat center center; background-size:cover; padding:77px 20px 99px 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-header h2 {padding:0 0 11px 0; margin:0; color:#ffffff; font-size:28px; line-height:32px; max-width:380px;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-header h2:after {content:""; display:block; width:50px; height:2px; background-color:#fce04e; margin:13px 0 0 0;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-header p {padding:0; margin:0; color:#FADF50; font-size:15px; line-height:22px;}
    
    
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list {background-color:#47a0a7; padding:38px 85px 1px 70px;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item {position:relative; min-height:100px; margin-bottom:30px;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item:after {content:""; display:block; z-index:1; background-color:#F2225A; height:calc(100% - 31px); width:calc(100% - 44px); position:absolute; right:-6px; bottom:10px; border-radius:2px;}

    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item blockquote {display:block; background:rgba(255,255,255,0.9); color:#61615D; font-weight:normal; font-size:11px; line-height:14px; padding:17px 15px 8px 55px; margin:0; z-index:10; position:relative; border-radius:2px;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item blockquote cite {display:block; font-weight:normal; font-style:normal; font-size:11px; line-height:14px; color:#F2225A; padding:3px 0 0 0; margin:0;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item blockquote:after {content:""; display:block; height:1px; background-color:#F2225A; width:16px; position:absolute; right:6px; top:5px;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item blockquote:before {content:""; display:block; height:1px; background-color:#F2225A; width:16px; position:absolute; right:6px; top:9px;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item img {position:absolute; left:-55px; top:-20px; display:block; width:110px; height:110px; z-index:15;}
    
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item:nth-child(even) blockquote {padding:17px 60px 8px 15px;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item:nth-child(even) {text-align:right;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item:nth-child(even) img {left:auto; right:-55px;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item:nth-child(even) blockquote:after {right:auto; left:6px; top:7px;}
    .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item:nth-child(even) blockquote:before {right:auto; left:6px; top:11px;}

    
    /***** Media Queries *****/
    @media only screen and (max-width: 1260px){
        .OptimizelyTest #popup-container.container {width:96%;}
        .OptimizelyTest .popup-enquiry .enquiry-testimonials .enquiry-testimonials-list .testimonial-item:after {height:calc(100% - 10px); bottom:-4px;}
    }
    
    
    @media only screen and (max-width: 960px){
        .OptimizelyTest .popup-enquiry .enquiry-testimonials {display:none;}
        .OptimizelyTest .popup-enquiry .enquiry-form {float:none; width:auto;}
    }


    @media only screen and (max-width: 769px){
        .OptimizelyTest .course-detail-new .popup-enquiry {padding-left:15px; padding-right:15px;}
        .OptimizelyTest .course-detail-new .popup-enquiry h3 {font-size:22px; line-height:26px; width:calc(100% + 70px); margin-left:-35px; padding:15px 35px 10px 35px; margin-bottom:12px;}
        .OptimizelyTest .course-detail-new .popup-enquiry h3:after {border-width: 30px 15px 0 0; bottom:-30px;}
        .OptimizelyTest .course-detail-new .popup-enquiry h3:before {border-width: 0 15px 30px 0; bottom:-30px;}
        .OptimizelyTest .enquiry-form {border-bottom:5px solid #00bbc5;}    
    }
    
    
    @media only screen and (max-width: 500px){
        .OptimizelyTest .course-detail-new .popup-enquiry h3 {font-size:18px; line-height:24px; padding-top:8px; padding-bottom:5px;}    
    }